html {
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	line-height:1.6
}
body {
	-webkit-touch-callout:none;
	font-family:"Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
	background-color:#f3f3f3;
	line-height:inherit
}
body.rich_media_empty_extra {
	background-color:#fff
}
body.rich_media_empty_extra .rich_media_area_primary:before {
	display:none
}
h1,h2,h3,h4,h5,h6 {
	font-weight:400;
	font-size:16px
}
* {
	margin:0;
	padding:0
}
a {
	color:#607fa6;
	text-decoration:none
}
.rich_media_inner {
	font-size:16px;
	word-wrap:break-word;
	-webkit-hyphens:auto;
	-ms-hyphens:auto;
	hyphens:auto
}
.rich_media_area_primary {
	position:relative;
	padding:20px 15px 15px;
	background-color:#fff
}
.rich_media_area_primary:before {
	content:" ";
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:1px;
	border-top:1px solid #e5e5e5;
	-webkit-transform-origin:0 0;
	transform-origin:0 0;
	-webkit-transform:scaleY(0.5);
	transform:scaleY(0.5);
	top:auto;
	bottom:-2px
}
.rich_media_area_primary .original_img_wrp {
	display:inline-block;
	font-size:0
}
.rich_media_area_primary .original_img_wrp .tips_global {
	display:block;
	margin-top:.5em;
	font-size:14px;
	text-align:right;
	width:auto;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	word-wrap:normal
}
.rich_media_area_extra {
	padding:0 15px 0
}
.rich_media_title {
	margin-bottom:10px;
	line-height:1.4;
	font-weight:400;
	font-size:24px
}
.rich_media_meta_list {
	margin-bottom:18px;
	line-height:20px;
	font-size:0
}
.rich_media_meta_list em {
	font-style:normal
}
.rich_media_meta {
	display:inline-block;
	vertical-align:middle;
	margin-right:8px;
	margin-bottom:10px;
	font-size:16px
}
.meta_original_tag {
	display:inline-block;
	vertical-align:middle;
	padding:1px .5em;
	border:1px solid #9e9e9e;
	color:#8c8c8c;
	border-radius:20% 50%;
	-moz-border-radius:20% 50%;
	-webkit-border-radius:20% 50%;
	font-size:15px;
	line-height:1.1
}
.meta_enterprise_tag img {
	width:30px;
	height:30px!important;
	display:block;
	position:relative;
	margin-top:-3px;
	border:0
}
.rich_media_meta_text {
	color:#8c8c8c
}
span.rich_media_meta_nickname {
	display:none
}
.rich_media_thumb_wrp {
	margin-bottom:6px
}
.rich_media_thumb_wrp .original_img_wrp {
	display:block
}
.rich_media_thumb {
	display:block;
	width:100%
}
.rich_media_content {
	overflow:hidden;
	color:#3e3e3e
}
.rich_media_content * {
	max-width:100%!important;
	box-sizing:border-box!important;
	-webkit-box-sizing:border-box!important;
	word-wrap:break-word!important
}
.rich_media_content p {
	clear:both;
	min-height:1em;
	white-space:pre-wrap
}
.rich_media_content em {
	font-style:italic
}
.rich_media_content fieldset {
	min-width:0
}
.rich_media_content .list-paddingleft-2 {
	padding-left:30px
}
.rich_media_content blockquote {
	margin:0;
	padding-left:10px;
	border-left:3px solid #dbdbdb
}
.mm_appmsg .meta_original_tag {
	font-size:15px
}
}@media(min-device-width:414px) and (max-device-width:736px) and (-webkit-min-device-pixel-ratio:3) {
	.mm_appmsg .rich_media_title {
	font-size:25px
}
}.radius_avatar {
	display:inline-block;
	background-color:#fff;
	padding:3px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	overflow:hidden;
	vertical-align:middle
}
.radius_avatar img {
	width:100%;
	height:100%;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	background-color:#eee
}
.cell {
	padding:.8em 0;
	display:block;
	position:relative
}
.cell_hd,.cell_bd,.cell_ft {
	display:table-cell;
	vertical-align:middle;
	word-wrap:break-word;
	word-break:break-all;
	white-space:nowrap
}
.cell_primary {
	width:2000px;
	white-space:normal
}
.flex_cell {
	padding:10px 0;
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center
}
.flex_cell_primary {
	width:100%;
	-webkit-box-flex:1;
	-webkit-flex:1;
	-ms-flex:1;
	box-flex:1;
	flex:1
}
.original_tool_area {
	display:block;
	padding:.75em 1em 0;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	color:#3e3e3e;
	border:1px solid #eaeaea;
	margin:20px 0
}
.original_tool_area .tips_global {
	position:relative;
	padding-bottom:.5em;
	font-size:15px
}
.original_tool_area .tips_global:after {
	content:" ";
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:1px;
	border-bottom:1px solid #dbdbdb;
	-webkit-transform-origin:0 100%;
	transform-origin:0 100%;
	-webkit-transform:scaleY(0.5);
	transform:scaleY(0.5)
}
.original_tool_area .radius_avatar {
	width:27px;
	height:27px;
	padding:0;
	margin-right:.5em
}
.original_tool_area .radius_avatar img {
	height:100%!important
}
.original_tool_area .flex_cell_bd {
	width:auto;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	word-wrap:normal
}
.original_tool_area .flex_cell_ft {
	font-size:14px;
	color:#8c8c8c;
	padding-left:1em;
	white-space:nowrap
}
.original_tool_area .icon_access:after {
	content:" ";
	display:inline-block;
	height:8px;
	width:8px;
	border-width:1px 1px 0 0;
	border-color:#cbcad0;
	border-style:solid;
	transform:matrix(0.71,0.71,-0.71,0.71,0,0);
	-ms-transform:matrix(0.71,0.71,-0.71,0.71,0,0);
	-webkit-transform:matrix(0.71,0.71,-0.71,0.71,0,0);
	position:relative;
	top:-2px;
	top:-1px
}


/*list.css*/
body {
    background-color: #ffffff;
}
i, em, address, cite {
    font-style: normal;
}
.list {
    font-size: 15px;
}
.list_preferential li {
    border-bottom: 1px solid #dedede;
    padding: 6px 0;
    overflow: hidden;
    border: 1px solid #eee;
    background-color: #fdfdfd;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    margin: 0 0 25px;
    padding: 10px;
}
li {
    list-style: none;
}

.list_preferential li .image_wrap {
    float: left;
    width: 84px;
    height: 84px;
    margin-right: 20px;
    z-index: 1;
}
.image_wrap {
    position: relative;
    overflow: hidden;
}
.list_preferential li .image {
    width: 84px;
    height: 84px;
}
.image {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.list_preferential li .image img {
    max-width: 84px;
    max-height: 84px;
}
.image img {
    vertical-align: middle;
}
.list_preferential li address {
    font-size: .9em;
    line-height: 1.2;
    height: 1.2em;
    overflow: hidden;
    color: #868b98;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.list_preferential li address>span {
    float: right;
    font-size: .8em;
    padding-top: 3px;
}
.list_preferential li h2 {
    margin: 6px 0 6px;
    height: 2.4em;
    overflow: hidden;
    line-height: 1.3;
}
.list_preferential li .tips em {
    float: left;
    color: #e6312a;
    width: 60%;
    height: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.4;
}
.list_preferential li .tips span {
    float: right;
    font-size: 12px;
    color: #868b98;
}

.dropload-down {
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none!important;
    vertical-align: middle;
    display: inline-block;
    _display: inline!important;
    text-align: center;
    padding: 4px 10px;
    cursor: pointer;
    border-radius: 3px;
    white-space: nowrap;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    display: block;
    font-size: 13px;
    margin: 10px 0 30px 0;
    padding: 5px 1px;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f9', endColorstr='#e6e6e8', GradientType=0);
    text-shadow: 0 1px 0 #fff;
    color: #666!important;
    width: 100%;
    background-color: #f8f8f8;
    border: 1 solid #e7e7e7;
}
.rich_media {
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
}
.rich_media_area_primary:before {
    border-top: none;
}


/*post.css*/
p {
    margin-bottom: 16px;
    color: #444;
    word-wrap: break-word;
    word-break: break-all;
}

.title_price {
    line-height: 25px;
}

.siteWrap {
    clear: both;
    margin-bottom: 30px;
    position: relative;
    border: 1px solid #eee;
    background-color: #fdfdfd;
    padding: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
}

.sitePic {
    margin-bottom: 0;
    min-height: 102px;
    display: block;
    float: left;
    border: 1px solid #f9f9f9;
    margin-right: 10px;
}

.siteWrap .sitePic img {
    max-width: 100px;
    max-height: 100px;
    vertical-align: middle;
    margin-left: 0;
    display: inline;
}

.siteWrap .siteBlockInfo {
	padding-left: 110px;
}

.listTitle .icon, .top .icon, .rightPanel .panelTitle .icon, .sitePrice i.icon, .topic_panelTitle .icon, .soldOut .icon:hover, .timeOut .icon:hover, .siteBlockSC .icon {
    display: block;
    width: 32px;
    height: 20px;
    float: left;
    font-size: 12px;
    color: #f04848;
    background-color: #f5f5f5;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    line-height: 20px;
    margin: 4px 10px 0 0;
}

.sitePrice .red {
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    padding-right: 10px;
}
.red {
    color: #d62222;
}
.sitePrice {
    font-size: 12px;
    color: #999;
}
.siteWrap .grey {
    font-size: 12px;
    line-height: 22px;
    margin-top: 5px;
    display: block;
    overflow: hidden;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 15px;
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

img {
  max-width: 100%;
}