img {
  max-width: 100%;
}
p {
    margin-bottom: 16px;
    color: #444;
    word-wrap: break-word;
    word-break: break-all;
}

.title_price {
    line-height: 25px;
}

.siteWrap {
    width: 100%;
    clear: both;
    margin-bottom: 30px;
}

.siteBlock {
    border: 1px solid #eee;
    background-color: #fdfdfd;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    margin: 0 0 25px;
    padding: 10px;
    float: left;
}

.sitePic {
    margin-bottom: 0;
    min-height: 102px;
    display: block;
    float: left;
    border: 1px solid #f9f9f9;
    margin-right: 10px;
}

.siteWrap .sitePic img {
    max-width: 100px;
    max-height: 100px;
    vertical-align: middle;
    margin-left: 0;
    display: inline;
}

.siteWrap .siteBlockInfo {
	padding-left: 110px;
}

.listTitle .icon, .top .icon, .rightPanel .panelTitle .icon, .sitePrice i.icon, .topic_panelTitle .icon, .soldOut .icon:hover, .timeOut .icon:hover, .siteBlockSC .icon {
    display: block;
    width: 32px;
    height: 20px;
    float: left;
    font-size: 12px;
    color: #f04848;
    background-color: #f5f5f5;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    line-height: 20px;
    margin: 4px 10px 0 0;
}

i, em, address, cite {
    font-style: normal;
}

.sitePrice .red {
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    padding-right: 10px;
}
.red {
    color: #d62222;
}
.sitePrice {
    font-size: 12px;
    color: #999;
}
.siteWrap .grey {
    font-size: 12px;
    line-height: 22px;
    margin-top: 5px;
    display: block;
    overflow: hidden;
}
