<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>编辑宝贝</title>
    <link rel="stylesheet" href="/static/css/weui.css"/>
    <link rel="stylesheet" href="/static/css/example.css"/>
</head>
<body ontouchstart>
    <div class="container js_container">
      <div class="page slideIn shares">
          <div class="bd">
            <div class="weui_cells_title">宝贝信息</div>
            <div class="weui_panel weui_panel_access">
            <div class="weui_panel_bd">
                <a href="/tb/{{taobao.item_uuid}}" class="weui_media_box weui_media_appmsg">
                    <div class="weui_media_hd">
                        <img class="weui_media_appmsg_thumb" src="{{taobao.item_thumb}}" alt="">
                    </div>
                    <div class="weui_media_bd">
                        <h4 class="weui_media_title">{{taobao.item_title}}</h4>
                        <p class="weui_media_desc">{{taobao.item_price}}</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="weui_cells_title">淘口令</div>
                <div class="weui_cells weui_cells_form">
                    <div class="weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">
                            <textarea class="weui_textarea" placeholder="请粘贴该宝贝对应的淘口令" rows="4" id="taoCode">{{taobao.tao_code or ''}}</textarea>
                        </div>
                    </div>
                </div>

                <div class="weui_cells_title">宝贝网页源代码</div>
                <div class="weui_cells weui_cells_form">
                    <div class="weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">
                            <textarea class="weui_textarea" placeholder="请粘贴该宝贝详情页面的源代码" rows="5" id="taoSrc">{{taobao.src_code or ''}}</textarea>
                        </div>
                    </div>
                </div>

                <div class="weui_btn_area">
                    <a href="javascript:;" class="weui_btn weui_btn_primary" id="saveBtn" data-uuid="{{taobao.item_uuid}}">保存宝贝</a>
                </div>
          </div>
      </div>
    </div>

    <script src="/static/js/zepto.min.js"></script>
    <script>
      $(document).on('click', '#saveBtn', function() {
        var tao_code = $('#taoCode').val();
        tao_code = tao_code.substring(tao_code.indexOf('【'), tao_code.length);
        var src_code = $('#taoSrc').val();
        var item_uuid = $(this).attr('data-uuid');

        $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: "/edit/tb/" + item_uuid,
                data: JSON.stringify({
                    tao_code: tao_code,
                    src_code: src_code,
                }),
                success: function(msg) {
                  window.location.replace('/mytbs');
                },
                error: function(msg) {
                    alert("error");
                }
            });
    });
    </script>
</body>
</html>
