<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <link rel="dns-prefetch" href="//res.wx.qq.com">
  <link rel="dns-prefetch" href="//mmbiz.qpic.cn">
  <link rel="shortcut icon" type="image/x-icon" href="{{static_path}}/img/favicon.ico">
  <title>{{post.title}} {{post.subtitle}}</title>
  <link rel="stylesheet" type="text/css" href="{{static_path}}/css/main.css">
  <!--[if lt IE 9]>
  <link rel="stylesheet" type="text/css" href="http://res.wx.qq.com/mmbizwap/zh_CN/htmledition/style/page/appmsg/page_mp_article_improve_pc2a7a3f.css">
  <![endif]-->
  <script type="text/javascript">
    document.domain = "qq.com";
  </script>
</head>

<body id="activity-detail" class="zh_CN mm_appmsg" ontouchstart="">
  <div id="js_article" class="rich_media">
    <div id="js_top_ad_area" class="top_banner">
    </div>

    <div class="rich_media_inner">
      <div id="page-content">
        <div id="img-content" class="rich_media_area_primary">
          <div class="wrap-content">
          <h2 class="rich_media_title" id="activity-name">
            {{post.title}} <span class="title_price red">{{post.subtitle}}</span>
          </h2>

          <div class="rich_media_meta_list">
            <span id="copyright_logo" style="display: none;" class="rich_media_meta meta_original_tag">原创</span>
            <em id="post-date" class="rich_media_meta rich_media_meta_text">{{post.created | pretty_date}}</em>
            
            <a class="rich_media_meta rich_media_meta_link rich_media_meta_nickname" href="#follow" id="post-user">买买买•白菜朋友圈</a>
          </div>

          <img data-type="gif" data-ratio="0.16007194244604317" data-w="" src="http://mmm-static.qiniudn.com/follow-optimize.gif" style="box-sizing: border-box !important; word-wrap: break-word !important; width: auto !important; visibility: visible !important; height: auto !important; margin-top: -18px; " _width="auto">

          

          {{post.processed_content}}

          {%if post.post_type == "baicai" or post.subtitle.find("2016") == -1%}
          <div style="margin-bottom: 18px;" align="center"><a href="{{post.dlink|mp_content_process}}"><img src="{{post.thumb|mp_content_process|img_content_process}}" /></a></div> 
          {%endif%}

          {%if post.post_type == "baicai" or post.subtitle.find("2016") == -1%}
          <a href="{{post.dlink|mp_content_process}}"><button type="button" class="btn btn-danger" style="">购买链接</button></a>
          {%endif%}

          <img data-type="gif" data-ratio="0.16007194244604317" data-w="" src="http://mmm-static.qiniudn.com/qrcode-optimize.gif" style="box-sizing: border-box !important; word-wrap: break-word !important; width: auto !important; visibility: visible !important; height: auto !important; margin: 18px auto; display: block;" _width="auto">

          <div id="follow" style="margin-top: 0px;"></div>
        </div>
          </div>
        </div>
      </div>
    </div>

    <script src="{{static_path}}/js/zepto.min.js"></script>
    <script src="{{static_path}}/js/post.js"></script>
  </body>
</html>
