<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <link rel="dns-prefetch" href="//res.wx.qq.com">
  <link rel="dns-prefetch" href="//mmbiz.qpic.cn">
  <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon22c41b.ico">
  <title>{{post.title}} {{post.subtitle}}</title>
  <link rel="stylesheet" type="text/css" href="/static/css/page_mp_article_improve2a7a3f.css">
  <link rel="stylesheet" type="text/css" href="/static/css/post.css">
  <style></style>
  <!--[if lt IE 9]>
  <link rel="stylesheet" type="text/css" href="http://res.wx.qq.com/mmbizwap/zh_CN/htmledition/style/page/appmsg/page_mp_article_improve_pc2a7a3f.css">
  <![endif]-->
  <script type="text/javascript">
    document.domain = "qq.com";
  </script>
</head>

<body id="activity-detail" class="zh_CN mm_appmsg" ontouchstart="">
  <div id="js_article" class="rich_media">
    <div id="js_top_ad_area" class="top_banner">
    </div>

    <div class="rich_media_inner">
      <div id="page-content">
        <div id="img-content" class="rich_media_area_primary">
          <div class="wrap-content">
          <h2 class="rich_media_title" id="activity-name">
            {{post.title}} <span class="title_price red">{{post.subtitle}}</span>
          </h2>

          <div class="rich_media_meta_list">
            <em id="post-date" class="rich_media_meta rich_media_meta_text">{{post.created | pretty_date}}</em>
            <em class="rich_media_meta rich_media_meta_text">&nbsp;&nbsp;关注▶▶</em>
            <a class="rich_media_meta rich_media_meta_link rich_media_meta_nickname" href="javascript:void(0);" id="post-user">买买买•白菜朋友圈</a>
            <span class="rich_media_meta rich_media_meta_text rich_media_meta_nickname">买买买•白菜朋友圈</span>
          </div>

          {{post.content|mp_content_process}}

          {%if post.post_type == "baicai"%}
          <div align="center"><a href="{{post.dlink|mp_content_process}}"><img src="{{post.thumb|mp_content_process}}" /></a></div> 
          {%endif%}
        </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/static/js/zepto.min.js"></script>
    <script src="/static/js/lazyload.min.js"></script>
    <script src="/static/js/post.js"></script>

  </body>
</html>
