<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
	<script type="text/javascript" src="js/jquery-1.9.1.min.js"/>
	 <script type="text/javascript" src="js/layer.mobile-v1.7/layer/layer.js"/>
	 <link type="text/css" rel="styleSheet" href="css/mixsln-notheme.css"/>
	  <link id="resource-1458271130781-1" type="text/css" rel="stylesheet" href="css/detail_1x.css"/>
		<title>&#23453;&#36125;&#35814;&#24773;</title>
<style type="text/css">
	#botton_img{
	  position: fixed;
    	  bottom:0px;
	}
	#botton_img img{
	 width: 100%;
	}
</style>
<script type="text/javascript">
	$(function(){
		var id="525473173213";   
		var shop_type="tmall";
		var small_shop_type="cm_details";
		var shopUrl="https://detail.m.tmall.com/item.htm?id=525473173213";
		
		$.ajax({
			    url:'ajax/cm_details/to_cm_details_tmall.php',
			    type:'post',
			    dataType:'html',
			    data:{id:id,shopUrl:shopUrl,shop_type:shop_type,small_shop_type:small_shop_type},
			    success:function(data){
			    		if(data.indexOf("error")&gt;0){
			    			
			    			location.href="iphone_qiange_if.php?shopName=&amp;shopUrl=https://detail.m.tmall.com/item.htm?id=525473173213";
			    		}else{
							
			    			 $("body").html(data);
			    		}
			    		
				    },
				    beforeSend: function(){
				    	
				    	
					 },
					complete: function(){
					  
					 },
				error:function(){
				  	alert("&#32593;&#32476;&#38169;&#35823;&#65292;&#35831;&#37325;&#26032;&#35775;&#38382;");
					}
				})
		
		function is_weixin() {
		    var ua = navigator.userAgent.toLowerCase();
		    if (ua.match(/MicroMessenger/i) == "micromessenger") {
		        return true;
		    } else {
		        return true;
		    }
		}
		var isWeixin = is_weixin();
		var os_type="iPhone";
		
		var shopUrl="https://detail.m.tmall.com/item.htm?id=525473173213";
		
		if(isWeixin){
		
		}else{  
		
	if(os_type=="android"){
	openIphoneApp(shopUrl); 
		}else if(os_type=="iPhone_ios_9"){
			
	openIphoneApp_ios_9(shopUrl); 
	}else{
	openIphoneApp(shopUrl); 
	}


	}
function openIphoneApp(url){
		

 	// &#36890;&#36807;iframe&#30340;&#26041;&#24335;&#35797;&#22270;&#25171;&#24320;APP&#65292;&#22914;&#26524;&#33021;&#27491;&#24120;&#25171;&#24320;&#65292;&#20250;&#30452;&#25509;&#20999;&#25442;&#21040;APP&#65292;&#24182;&#33258;&#21160;&#38459;&#27490;a&#26631;&#31614;&#30340;&#40664;&#35748;&#34892;&#20026;  
        // &#21542;&#21017;&#25171;&#24320;a&#26631;&#31614;&#30340;href&#38142;&#25509;  

 	var tb_url=url.replace("http://", "").replace("https://", "");
        
        var ifr = document.createElement('iframe');  
        ifr.src = 'taobao://'+tb_url;  
        ifr.style.display = 'none';  
        document.body.appendChild(ifr);  
       
	window.location=url; 

	}

	function openIphoneApp_ios_9(url){
		var tb_url=url.replace("http://", "").replace("https://", "");
		window.location="taobao://"+tb_url;
       	window.setTimeout(function(){  
            	window.location=url; 
        },4000)  
        
	}

			

			
		})
		

</script>

	

</head>





<body>
			 		<span style="display: block;font-size: 22px;text-align: center;margin-top:50%;">&#21152;&#36733;&#20013;..</span>
	 		<!--
             	<div id='botton_img' style="z-index: 99;">
                <a href="speed.php?shopUrl=https://detail.m.tmall.com/item.htm?id=525473173213">
                    <img  src='z2.jpg' />
                </a>
            </div>  
             -->
                         
	
</body>

</html>
