<html><head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
	 <script type="text/javascript" src="js/layer.mobile-v1.7/layer/layer.js"></script><style type="text/css" adt="123"></style><link href="http://djaa.cn/js/layer.mobile-v1.7/layer/need/layer.css" type="text/css" rel="styleSheet" id="layermcss">
	 <link type="text/css" rel="styleSheet" href="css/mixsln-notheme.css">
	  <link id="resource-1458271130781-1" type="text/css" rel="stylesheet" href="css/detail_1x.css">
		<title>朗捷文具袋学生笔袋韩国男女简约笔盒创意画笔袋便携笔套铅笔袋</title>
<style type="text/css">
	#botton_img{
	  position: fixed;
    	  bottom:0px;
	}
	#botton_img img{
	 width: 100%;
	}
</style>
<script type="text/javascript">
	$(function(){
		var id="531432799712";   
		var shop_type="tmall";
		var small_shop_type="cm_details";
		var shopUrl="https://detail.m.tmall.com/item.htm?id=531432799712";
		
		$.ajax({
			    url:'ajax/cm_details/to_cm_details_tmall.php',
			    type:'post',
			    dataType:'html',
			    data:{id:id,shopUrl:shopUrl,shop_type:shop_type,small_shop_type:small_shop_type},
			    success:function(data){
			    		if(data.indexOf("error")>0){
			    			
			    			location.href="iphone_qiange_if.php?shopName=手机天猫商品详情&shopUrl=https://detail.m.tmall.com/item.htm?id=531432799712";
			    		}else{
							
			    			 $("body").html(data);
			    		}
			    		
				    },
				    beforeSend: function(){
				    	
				    	
					 },
					complete: function(){
					  
					 },
				error:function(){
				  	alert("网络错误，请重新访问");
					}
				})
		
		function is_weixin() {
		    var ua = navigator.userAgent.toLowerCase();
		    if (ua.match(/MicroMessenger/i) == "micromessenger") {
		        return true;
		    } else {
		        return true;
		    }
		}
		var isWeixin = is_weixin();
		var os_type="iPhone";
		
		var shopUrl="https://detail.m.tmall.com/item.htm?id=531432799712";
		
		if(isWeixin){
		
		}else{  
		
	if(os_type=="android"){
	openIphoneApp(shopUrl); 
		}else if(os_type=="iPhone_ios_9"){
			
	openIphoneApp_ios_9(shopUrl); 
	}else{
	openIphoneApp(shopUrl); 
	}


	}
function openIphoneApp(url){
		

 	// 通过iframe的方式试图打开APP，如果能正常打开，会直接切换到APP，并自动阻止a标签的默认行为  
        // 否则打开a标签的href链接  

 	var tb_url=url.replace("http://", "").replace("https://", "");
        
        var ifr = document.createElement('iframe');  
        ifr.src = 'taobao://'+tb_url;  
        ifr.style.display = 'none';  
        document.body.appendChild(ifr);  
       
	window.location=url; 

	}

	function openIphoneApp_ios_9(url){
		var tb_url=url.replace("http://", "").replace("https://", "");
		window.location="taobao://"+tb_url;
       	window.setTimeout(function(){  
            	window.location=url; 
        },4000)  
        
	}

			

			
		})
		

</script>

	

</head>





<body><script type="text/javascript">
	$(function() {
		
		
		if(is_weixin()){
			//微信端打开
		}else{
			var os_type="iPhone";
			var url="https://detail.m.tmall.com/item.htm?id=531432799712";
			$("body").html("<div style='display: block;font-size: 22px;text-align: center;margin-top:50%;'>跳转中</div>");
			if(os_type=="iPhone_ios_9"){
				
				openIphoneApp_ios_9(url);
			}else{
				openApp(url)
			}
		}
		
		function is_weixin() {
			var ua = navigator.userAgent.toLowerCase();
			if (ua.match(/MicroMessenger/i) == "micromessenger") {
				return true;
			} else {
				return false;
			}
		}
	
		function openApp(url) {
			// 通过iframe的方式试图打开APP，如果能正常打开，会直接切换到APP，并自动阻止a标签的默认行为
			// 否则打开a标签的href链接
			var tb_url = url.replace("http://", "").replace("https://", "");
			var ifr = document.createElement('iframe');
			ifr.src = 'taobao://' + tb_url;
			ifr.style.display = 'none';
			document.body.appendChild(ifr);
			window.location = url;
		}
	
		function openIphoneApp_ios_9(url) {
			var tb_url = url.replace("http://", "").replace("https://", "");
			window.location = "taobao://" + tb_url;
			window.setTimeout(function() {
				window.location = url;
			}, 4000)
		}
	})
	</script>&#65279;

	 
			<meta charset="utf-8"> 
			
			<meta content="yes" name="apple-mobile-web-app-capable"> 
			<meta content="black" name="apple-mobile-web-app-status-bar-style"> 
			<meta name="format-detection" content="telephone=no"> 
	        
	        <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport"> 			
			<meta name="aplus-waiting" content="1"> <meta name="data-spm" content="a1z3i">   
			<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
	<script>
	$(function(){
	    $(".dtct-ul li:eq(0)").click(function(){
	    	$(this).attr("class", "sel");
	    	$(".dtct-ul li:eq(1)").attr("class", "");
	    	$(".dtct-ul li:eq(2)").attr("class", "");
	    	$(".dt-param").hide();
	    	$(".dt-comt").hide();
	    	$(".dt-imgtext").show();
	    	
	    })
		$(".dtct-ul li:eq(1)").click(function(){
			$(this).attr("class", "sel");
			$(".dtct-ul li:eq(0)").attr("class", "");
			$(".dtct-ul li:eq(2)").attr("class", "");
			$(".dt-imgtext").hide();
			$(".dt-comt").hide();
			$(".dt-param").show();
	    })
	    	
	    $(".dtct-ul li:eq(2)").click(function(){
	    	$(this).attr("class", "sel");
	    	$(".dtct-ul li:eq(0)").attr("class", "");
	    	$(".dtct-ul li:eq(1)").attr("class", "");
	    	$(".dt-imgtext").hide();
	    	$(".dt-param").hide();
	    	$(".dt-comt").show();
	    })
	   
	})
	</script>


	<div class="viewport enableNavbar enableToolbar enableTransition" style="margin-top: -15px;"> 
		 <section class="content" style="min-height: 583px;">
		 	<div class="wrap">
		 		<div class="inactive prev" index="0"></div>
		 		<div class="active" index="1" data-fragment="" style="min-height: 583px;">
		 			<div id="J_detail">
		 				<div id="J_detail_main">
		 					<div class="dt-slider" style="margin-top: 1px;">
		 						<div class="dt-slider-cont" style=" transform: translateZ(0px);">
		 							<ul class="dt-slct-ul" style="backface-visibility: hidden; width:100%; transition-duration: 300ms; transform: translate3d(0px, 0px, 0px);">
		 								<li style="width:100%;" l="1">
		 									<img class="" src="http://img.alicdn.com/bao/uploaded/i4/TB133xgJVXXXXX5XVXXXXXXXXXX_!!0-item_pic.jpg">	
		 								</li>
		 							</ul>
		 							<div class="dt-slider-mask"></div>
		 						</div>
	<!--
       隐藏信息
	<div class="dt-slider-status"><i class="sel"></i><i></i><i></i><i></i><i></i></div>
	
	<div id="inner-back">
</div>
<div id="inner-cart">
</div>
-->
							</div>
							<div class="item-banner"></div>
							<div class="dt-info" data-spm="info">
								<h1 class="dtif-h">朗捷文具袋学生笔袋韩国男女简约笔盒创意画笔袋便携笔套铅笔袋</h1>
								<ul>
									<li class="dtif-p1">
	<p id="item-price-line">
		<ins class="orange">¥19.80		</ins>
<span class="pre-price-tips">
			
	<span class="dt-icon">今日好价</span>
	</span>
</p>
<p><span class="lgray dtif-ps1">价格:<del>¥50.00</del></span></p>
</li>

</ul></div><div class="dt-extend">

  </div>
  
  <div class="dt-lbs"><a class="wrapper map-list-entrance" href="//m.taobao.com">
<div class="arrow">
<b class="aw a-r"></b>
</div>
<div class="point">
<span class="icon"></span>
<span class="name">四季青新时代</span>
<span class="distance lgray">(16KM)</span>
</div>
<div class="address lgray">
浙江省,杭州市,西湖区,航海路..........
</div>
<div class="entrance">
查看全部<span class="store-num">20</span>家门店
</div>
</a></div>
<div class="dt-shop" data-spm="shop">
	<ul class="dtsp-ul">
		<li class="dtspu-l"><img src="http://img.alicdn.com/imgextra/b7/ad/TB1QGQnGVXXXXauXpXXwu0bFXXX.png"></li>
		<li class="dtspu-r">
		<h2 class="omit">longe嘉然恒专卖店</h2>
		</li>
	</ul>
	
</div>
<div class="dt-content"><div style="display: none; visibility: hidden; width: 375px; height: 42px; margin: 0px; border: 0px; padding: 0px; float: none;"></div>
<ul class="dtct-ul" style="transform: translateZ(0px);">
	<li class="sel" style="opacity: 1;">图文详情</li>
	<li>产品参数</li>
	<li>累计评价</li>
	
</ul>
<div class="dtct-otr" style="min-height: 438px;"><div class="dtct-container">
	<div class="dt-imgtext" style="display: block;">
	<div id="J_image_imgs" class="dtit-dt">
		 	<img src="https://img.alicdn.com/imgextra/i4/2351375775/TB2cFqroFXXXXX0XFXXXXXXXXXX_!!2351375775.jpg">
	 		 	<img src="https://img.alicdn.com/imgextra/i3/2351375775/TB2MhuzoFXXXXb9XpXXXXXXXXXX_!!2351375775.jpg">
	 		 	<img src="https://img.alicdn.com/imgextra/i3/2351375775/TB2TBizoFXXXXb1XpXXXXXXXXXX_!!2351375775.jpg">
	 		 	<img src="https://img.alicdn.com/imgextra/i1/2351375775/TB2sQ9NoFXXXXb_XXXXXXXXXXXX_!!2351375775.jpg">
	 		 	<img src="https://img.alicdn.com/imgextra/i3/2351375775/TB2HwGjoFXXXXbcXFXXXXXXXXXX_!!2351375775.jpg">
	 		 	<img src="https://img.alicdn.com/imgextra/i2/2351375775/TB2Qo1WoFXXXXa4XXXXXXXXXXXX_!!2351375775.jpg">
	 		 	<img src="https://img.alicdn.com/imgextra/i1/2351375775/TB2nM5UoFXXXXbpXXXXXXXXXXXX_!!2351375775.jpg">
	 		 	<img src="https://img.alicdn.com/imgextra/i4/2351375775/TB2cCWvoFXXXXcWXpXXXXXXXXXX_!!2351375775.jpg">
	 		 	<img src="https://img.alicdn.com/imgextra/i1/2351375775/TB2CwuxoFXXXXcDXpXXXXXXXXXX_!!2351375775.jpg">
	 		 	<img src="https://img.alicdn.com/imgextra/i1/2351375775/TB2Y3G6oFXXXXXoXXXXXXXXXXXX_!!2351375775.jpg">
	 		 	<img src="https://img.alicdn.com/imgextra/i3/2351375775/TB2pFyJoFXXXXX4XpXXXXXXXXXX_!!2351375775.jpg">
	 		 	<img src="https://img.alicdn.com/imgextra/i2/2351375775/TB2meqYoFXXXXaNXXXXXXXXXXXX_!!2351375775.jpg">
	 		 	<img src="https://img.alicdn.com/imgextra/i1/2351375775/TB2FGeZoFXXXXaLXXXXXXXXXXXX_!!2351375775.jpg">
	 		
	</div>
	
</div>

	<div class="dt-param" style="display: none;">
		<ul class="dtp-ul">
						<li><label>品牌</label><span class="omit">Longe/朗捷</span></li>
						<li><label>型号</label><span class="omit">LG-BD-01</span></li>
						<li><label>流行元素</label><span class="omit">馒头家族</span></li>
						<li><label>颜色分类</label><span class="omit">军绿色,天蓝色,巧克力色,桔色,浅灰色</span></li>
					</ul>
	</div>
	
	<div class="dt-comt" style="display: none;">
				 	<div class="dt-msg"><div class="dt-state dt-msg-succ"></div><p>没有查询到记录!</p></div>
		 		</div>
	
	
	 

</div></div>
	
</div></div></div></div></div></section>  </div>   
 <script type="text/javascript">
 var $body = $('body');
 var tit="朗捷文具袋学生笔袋韩国男女简约笔盒创意画笔袋便携笔套铅笔袋"; 
 document.title=tit; 
 var $iframe = $('<iframe src="/favicon.ico"></iframe>');
$iframe.on('load',function() {
  setTimeout(function() {
      $iframe.off('load').remove();
  }, 0);
}).appendTo($body);
 </script><script type="text/javascript">
	$(function() {
		var img="x_9_15/wox_iPhone.png"
		$("#btn_img").attr("src",img);
		$("#botton_img a").click(function() {
			$("#ma").slideDown();
			$('.bg').show();
		})
		$(".bg").click(function() {
			$("#ma").slideUp(200);
			$('.bg').hide();
		})
		$("#btn_close").click(function() {
			$("#ma").slideUp(200);
			$('.bg').hide();
		})
		
		
		
			})
	</script>
<style>
body {
	margin: 0px;
}

#ma {
	display: none;
	position: fixed;
	top: 0;
}

#a {
	margin: 400 auto;
	display: block;
	width: 40;
}

.bg {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 102;
	top: 0;
	left: 0;
	opacity: 0.7;
}

a {
	text-decoration: none;
}

#qian {
	color: #CDCDC1;
	z-index: 105;
	margin: 0px 0px 0px 34%;
	position: absolute;
	bottom: 0px;
	font-family: "微软雅黑";
}

</style>
<div class="bg">
</div>
<div id="ma" style="z-index:108; width: 100%;height:30%;background-color:#A79B9B;">
	<img id="btn_img" style="width: 80%;margin-left: 20%;" src="x_9_15/wox_iPhone.png">
	<!--<a class="btn_close" title="取消" href="javascript:" id="btn_close" style="width: 100%; height: 28%;">取消</a> -->
	<img id="btn_close" src="img/x1.PNG" width="40px" height="40px" style="position: absolute;bottom: 0px;right: 0px;">
	<div id="qian">
		此网页由千鸽提供
	</div>
</div>
	   	
	   	<div id="botton_img" style="z-index:101;">
                 <a href="javascript:void(0)">
                    <img src="z2.jpg">
                </a>
            </div>    
	   	</body></html>