<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>我的文章</title>
    <link rel="stylesheet" href="/static/css/weui.css"/>
    <link rel="stylesheet" href="/static/css/example.css"/>
</head>
<body ontouchstart>
    <div class="container js_container">
      <div class="page slideIn shares">
          <div class="bd">
            <div class="weui_cells_title">所有我转发的文章</div>
            <div class="weui_cells weui_cells_access">
              {%for topic in shares.list%}
                <a class="weui_cell" href="/t/{{topic.topic_uuid}}" target="_blank">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>{{topic.title}}</p>
                    </div>
                    <div class="weui_cell_ft">
                    </div>
                </a>
              {%endfor%}
            </div>

            <div class="weui_btn_area">
              {% if shares.page.next!=shares.page.current %}
                  <a href="/myshares?p={{shares.page.next}}" class="weui_btn weui_btn_default">下一页</a>
              {%else%}
                  <a href="javascript:;" class="weui_btn weui_btn_disabled weui_btn_default">没有更多了</a>
              {%endif%}
            </div>
          </div>
      </div>
    </div>

    <script src="/static/js/zepto.min.js"></script>
</body>
</html>
