
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{title}}</title>
    <link rel="stylesheet" href="//g.alicdn.com/??tm/detail-m/3.1.88/common.css,tm/detail-m/3.1.88/index.css,tm/detail-m/3.1.88/widgets/loading/loading.css,tm/detail-m/3.1.88/mods/header/header.css,tm/detail-m/3.1.88/mods/showcase/index.css,tm/detail-m/3.1.88/mods/from/index.css,tm/detail-m/3.1.88/mods/title/index.css,tm/detail-m/3.1.88/mods/price/index.css,tm/detail-m/3.1.88/mods/adds/index.css,tm/detail-m/3.1.88/mods/advantage/advantage.css,tm/detail-m/3.1.88/mods/action/index.css,tm/detail-m/3.1.88/mods/rate/index.css,tm/detail-m/3.1.88/mods/shop/index.css,tm/detail-m/3.1.88/mods/recommend/index.css,tm/detail-m/3.1.88/pages/itemDesc.css,mui/custommodule/3.0.8/index.css,tm/detail-m/3.1.88/mods/actionBar/index.css">
    <link id="resource-1458271130781-1" type="text/css" rel="stylesheet" href="http://djaa.cn/css/detail_1x.css">

    <style type="text/css">
    .viewport {
    margin-top: 44px !important;
    
    }
    .dt-content {
        padding-bottom: 50px;
    }
    .dtct-ul {
    z-index: 1 !important;
    }
    </style>

</head>

<body style="margin: 0;">

{%if 1%}
  <div id="detail-base-smart-banner"
  style="position: fixed; height: 44px; width: 100%; z-index: 999; top: 0; left: 0; cursor: pointer;" data-link="{{tmall_link}}">
  <div class="mui-sb-box" style="width: 100%; height: 44px; position: relative; background-color: #f14344;">
    <img class="logo" src="//img.alicdn.com/tps/TB1twKDJFXXXXbtXVXXXXXXXXXX-92-92.png" width="42" height="42" style="width: 35px;
    height: 35px;
    position: absolute;
    top: 4px;
    left: 5px;">
    <div class="words" style="position: absolute;
    top: 0;
    left: 45px;
    line-height: 44px;
    font-size: 14px;
    color: #fff;">
      在浏览器中打开，自动跳转到淘宝APP购买
    </div>
    <div class="arrow" style='width: 18px;
    height: 18px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkAQMAAADbzgrbAAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAABpJREFUCNdj+ACEDFhIfiDERlJJAw71VFMOAKa4J2E98r4cAAAAAElFTkSuQmCC");
    position: absolute;
    top: 13px;
    right: 12px;
    background-size: 18px;'>
    </div>
  </div>
</div>
{%endif%}

  {{content}}  

    <section id="s-actionBar-container" data-link="{{tmall_link}}" style="cursor: pointer; z-index: 999;">
            <div id="s-actionbar" class="action-bar mui-flex align-center">
                
                    <div class="support cell">
                    客服
                    <a href="javascript:void();"></a>
                </div>
                
                <div class="toshop cell">
                    
                    进店
                    
                    <a href="javascript:void();"></a>
                </div>
                
                    <div class="addfav cell j-mdv">
                    收藏
                    </div>
                
                <button class="cart cell" style="">加入购物车</button>
                <button class="buy cell" style="">立即购买</button>
                <div class="activity-box cell"></div>
            </div>
</section>

<script type="text/javascript" src="http://djaa.cn/js/jquery-1.9.1.min.js"></script>
<script src="/static/js/lazyload.min.js"></script>
<script>
    $(function(){
        $(".dtct-ul li:eq(0)").click(function(){
            $(this).attr("class", "sel");
            $(".dtct-ul li:eq(1)").attr("class", "");
            $(".dtct-ul li:eq(2)").attr("class", "");
            $(".dt-param").hide();
            $(".dt-comt").hide();
            $(".dt-imgtext").show();
            
        })
        $(".dtct-ul li:eq(1)").click(function(){
            $(this).attr("class", "sel");
            $(".dtct-ul li:eq(0)").attr("class", "");
            $(".dtct-ul li:eq(2)").attr("class", "");
            $(".dt-imgtext").hide();
            $(".dt-comt").hide();
            $(".dt-param").show();
        })
            
        $(".dtct-ul li:eq(2)").click(function(){
            $(this).attr("class", "sel");
            $(".dtct-ul li:eq(0)").attr("class", "");
            $(".dtct-ul li:eq(1)").attr("class", "");
            $(".dt-imgtext").hide();
            $(".dt-param").hide();
            $(".dt-comt").show();
        })

        $("img").lazyload();
       
    })
    </script>

    <script>
    
    $(document).on('click', '#detail-base-smart-banner', function() {
      var link = $(this).attr("data-link");
      window.location.href="/prompt?url=" + link;
    });

    $(document).on('click', '#s-actionBar-container', function() {
        var link = $(this).attr("data-link");
      window.location.href="/prompt?url=" + link;
    });
    </script>


</body>
</html>
