<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <script type="text/javascript">
    window.logs = {
      pagetime: {}
    };
    window.logs.pagetime['html_begin'] = (+new Date());
  </script>
  <script type="text/javascript">
    var page_begintime = (+new Date());
    var biz = "MjM5MzQwNzM4Nw=="||"";
    var sn = "144c336afc08a8307bd984ce6f2982b2" || "";
    var mid = "402784173" || "";
    var idx = "1" || "" ;
    var is_rumor = ""*1;
    var norumor = ""*1;
    if (!!is_rumor&&!norumor){
      if (!document.referrer || document.referrer.indexOf("mp.weixin.qq.com/mp/rumor") == -1){
        location.href = "http://mp.weixin.qq.com/mp/rumor?action=info&__biz=" + biz + "&mid=" + mid + "&idx=" + idx + "&sn=" + sn + "#wechat_redirect";
      }
    }
  </script>
  <link rel="dns-prefetch" href="//res.wx.qq.com">
  <link rel="dns-prefetch" href="//mmbiz.qpic.cn">
  <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon22c41b.ico">
  <script type="text/javascript">
    String.prototype.html = function(encode) {
        var replace =["&#39;", "'", "&quot;", '"', "&nbsp;", " ", "&gt;", ">", "&lt;", "<", "&amp;", "&", "&yen;", "¥"];
        if (encode) {
            replace.reverse();
        }
        for (var i=0,str=this;i< replace.length;i+= 2) {
             str=str.replace(new RegExp(replace[i],'g'),replace[i+1]);
        }
        return str;
    };
    window.isInWeixinApp = function() {
        return /MicroMessenger/.test(navigator.userAgent);
    };
    window.getQueryFromURL = function(url) {
        url = url || 'http://qq.com/s?a=b#rd';
        var query = url.split('?')[1].split('#')[0].split('&'),
            params = {};
        for (var i=0; i<query.length; i++) {
            var arg = query[i].split('=');
            params[arg[0]] = arg[1];
        }
        if (params['pass_ticket']) {
        	params['pass_ticket'] = encodeURIComponent(params['pass_ticket'].html(false).html(false).replace(/\s/g,"+"));
        }
        return params;
    };

    (function() {
	    var params = getQueryFromURL(location.href);
        window.uin = params['uin'] || '';
        window.key = params['key'] || '';
        window.wxtoken = params['wxtoken'] || '';
        window.pass_ticket = params['pass_ticket'] || '';
    })();
  </script>
  <title>{{topic.title}}</title>
  <link rel="stylesheet" type="text/css" href="/static/css/page_mp_article_improve2a7a3f.css">
  <style></style>
  <!--[if lt IE 9]>
  <link rel="stylesheet" type="text/css" href="http://res.wx.qq.com/mmbizwap/zh_CN/htmledition/style/page/appmsg/page_mp_article_improve_pc2a7a3f.css">
  <![endif]-->
  <script type="text/javascript">
    document.domain = "qq.com";
  </script>
</head>

<body id="activity-detail" class="zh_CN mm_appmsg" ontouchstart="">
  <script type="text/javascript">
    var write_sceen_time = (+new Date());
  </script>

  <div id="js_article" class="rich_media">
    <div id="js_top_ad_area" class="top_banner">
    </div>

    <div class="rich_media_inner">
      <div id="page-content">
        <div id="img-content" class="rich_media_area_primary">
          <h2 class="rich_media_title" id="activity-name">
            {{topic.title}}
          </h2>

          <div class="rich_media_meta_list">
            <em id="post-date" class="rich_media_meta rich_media_meta_text">2016-03-13</em>
            <em class="rich_media_meta rich_media_meta_text">七毛&nbsp;&nbsp;訂阅▶▶</em>
            <a class="rich_media_meta rich_media_meta_link rich_media_meta_nickname" href="javascript:void(0);" id="post-user">陈宗鹤先生</a>
            <span class="rich_media_meta rich_media_meta_text rich_media_meta_nickname">陈宗鹤先生</span>
          </div>

          {{topic.content|mp_content_process}}

          <script type="text/javascript">
            var first_sceen__time = (+new Date());
            if ("" == 1 && document.getElementById('js_content'))
              document.getElementById('js_content').addEventListener("selectstart",function(e){ e.preventDefault(); });

              (function(){
                if (navigator.userAgent.indexOf("WindowsWechat") != -1){
                  var link = document.createElement('link');
                  var head = document.getElementsByTagName('head')[0];
                  link.rel = 'stylesheet';
                  link.type = 'text/css';
                  link.href = "/static/css/page_mp_article_improve_winwx2c2c35.css";
                  head.appendChild(link);
                }
              })();
            </script>
            <link rel="stylesheet" type="text/css" href="/static/css/page_mp_article_improve_combo2c57d0.css">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
